.bannerPoet{
    height: 350px;
    margin: 0 38px 10px 28px;
    font-size: 42px;
}
.bannerPoetImg{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0 auto 0 auto;
    background: url("../img/m1.png");
    position: relative;
    top: 40px;
}
.bannerBlock{
    background: #FFFFFF;
    height: 285px;
    font-size: 16px;
    font-family: LatoLRegular;
    padding: 45px 45px 20px 42px;
}
.follow{
    float: left;
    margin-top: 11px;
    width: 231px;
}
.follow span{
    color: #767678;
    margin-left: 3px;
}
.namePoetClassic{
    float: left;
    width: 600px;
    overflow: hidden;
    margin: 8px auto 6px 0;
    text-align: center;
    font-family: MinionPro;
    font-size: 30px;
    line-height: 24px;
}
.namePoetClassic p{
    font-family: VollkornItalic;
    color: #767678;
    font-size: 14px;
    margin: 0;
}
.followButton{
    float: right;
    height: 42px;
    width: 139px;
    text-align: center;
    line-height: 44px;
    background: #b3b3b3;
    color: #FFFFFF;
    font-size: 14px;
}
.followButton:hover{
    cursor: pointer;
    background: #767678;
}
.followButton2{
    width: 42px;
    background: none;
    border: 1px solid #000000;
    float: left;
    margin-left: 46px;
    padding-top: 2px;
}
.aboutPoet{
    border-top: 1px solid #b3b3b3;
    font-family: "LatoLight";
    margin-top: 25px;
    padding-top: 37px;
    line-height: 20px;
    height: 122px;
    overflow: hidden;
}
.navPoet li{
    font-family: LatoLRegular;
    list-style: none;
    margin: 12px auto 0 47px;
    font-size: 16px;
    float: left;
}
.navPoet li:hover{
    cursor: pointer;
    color: #767678;
}
.navPoet li:first-child{
    margin-left: 9px;
}
.navPoet ul{
    margin: 0;
    padding: 0;
}
.navPoet span{
    color:#767678;
}
.navPoet{
    margin-top: 40px;
    margin-left: 18px;
}
.PoemPoetClassic > .inBlock{
    margin: 0 auto 0 27px;
}
.PoemPoetClassic section{
    margin-top: 25px;
    margin-bottom: 25px;
}
.footBlockPoet{
    margin-top:0px;
    margin-left: 27px;
}